*{
	padding: 0;
	margin:0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}

.hero{
	height: 100vh;
	width: 100%;
	background-image:url(img/1.jpg);
	background-size: cover;
	background-position: center;
	padding-top: 45px;
	padding-right: 4%;
	padding-left: 4%;

}

nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	padding: 1% 4% 1% 4%;
	background-color: rgba(0, 0, 0, 0.722);
	width: 100%;
}

.logo{
	color:white;
	font-size: 35px;
	letter-spacing: 2px
	cursor: pointer;
}

span{
	color:crimson;
}

nav ul li{

	list-style-type: none;
	display: inline-block;
	padding: 10px 25px;
	font-size: 1.5em;
}

nav ul li a{
	color:white;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;

}
nav ul li a:hover{
	color:crimson;
	transition:.4s;
}

.button {
	background-color: crimson;
	font-size: 30px;
	border: 2px solid;
	border-radius: 30px;
	padding: 10px;
}

.button {
	text-decoration: none;
	font-family: 'Josefin Sans', sans-serif;
	color: white;
}

.button:hover {
	background-color: white;
	color: crimson;
	transition: .4s;
}

.content {
	position: absolute;
	color: white;
	top: 50%;
	left: 8%;
	transform: translateY(-50%);
}

.btn {
	position: absolute;
	background-color: crimson;
	color: white;
	text-decoration: none;
	padding:10px 25px;
	border-radius: 30px;
	font-weight: bold;
	transition: transform .4s;
}
.btn:hover {
	transform: scale(1.2);
}

h1 {
	margin: 20px 0px 20px;
	font-size: 70px;
}
h3 {
	font-size: 25px;
	margin-bottom: 50px;
}
h4 {
	font-size: 20px;
	letter-spacing: 3px;
	color: lightcoral;
}
.skills {
	width: 100%;
	padding: 100px 0px;
	background-color: #191919;
	width: 100%;
}
.skills .skills_content {
	display: flex;
	align-content: center;
	justify-content: space-between;
	padding: 60px;
	margin-top: -70px;
}
.skills .skills_content .left p {
	color: white;
}
.skills .skills_content .text {
	color: lightcoral;
	font-size: 40px;
	font-weight: 600;
	margin-bottom: 20px;
}
.skills .skills_content .column {
	width: calc(50% - 60px);
}

.skills .skills_content .right .bars {
	margin-bottom: 20px;
}
.skills .skills_content .right .info {
	display: flex;
	justify-content: space-between;
}
.skills .skills_content .right .skill_name {
	color: white;
	font-weight: 900;
	font-size: large;
}
.skills .skills_content .right .percentage {
	color: lightcoral;
	font-weight: 900;
	font-size: large;
}
.skills .skills_content .right .line {
	height: 7px;
	width: 100%;
	background: lightgray;
	position: relative;
}
.skills .skills_content .right .line::before {
	content: "";
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	background: crimson;
}
.skills .skills_content .right .arduino::before {
	width: 90%;
}
.skills .skills_content .right .html::before {
	width: 80%;
}
.skills .skills_content .right .js::before {
	width: 30%;
}
.skills .skills_content .right .php::before {
	width: 10%;
}
.skills .skills_content .right .css::before {
	width: 80%;
}
.skills .skills_content .right .c_plus::before {
	width: 60%;
}
.about{
	width: 100%;
	padding: 100px 0px;
	background-color: #191919;
}
.about img{
	height: auto;
	width: 430px;
}
.about-text{
	width: 550px;
	margin-bottom: 80px;
}
.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about-text h2{
	color: white;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 60px;
}
.about-text h5{
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
}
.about-text p{
	color: lightcoral;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}

.service{
	background: #101010;
	width: 100%;
	padding: 100px 0px;
}
.title h2{
	color: white;
	font-size: 75px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}
.card{
	height: 365px;
	width: 335px;
	padding: 20px 35px;
	background: #191919;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden; 
	text-align: center;
}
.card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: crimson;

}
h5{
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
}
.pra p{
	color: lightcoral;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}
.card .button{
	background-color:crimson;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s; 
}
.card .button:hover{
	background-color: transparent;
	border: 2px solid crimson;
	cursor: pointer;
}
.contact {
	display: flex;
	background: #101010;
	width: 100%;
	padding: 100px 0px;
	min-height: 600px;
}
.c_title h2{
	color: white;
	font-size: 60px;
	width: 1000px;
	margin: 30px auto;
	text-align: center;
	margin-top: 80px;
}
.c_box {

}
.c_text {
	color: white;
	font-size: 20px;
	margin:30px auto;
	text-align: left;
}
.block {
	margin-left: 300px;
}
#name, #email {
	font-size:20px;
	height: 40px;
	border-radius: 10px;
	padding: 10px;
	width: 400px;
}
p {
	color: white;
}
#message {
	font-size: 20px;
	height: 100px;
	border-radius: 10px;
	width: 400px;
	padding-bottom:40px;
}
footer {
	position: relative;
	width: 100%;
	height: 400px;
	background-color: #191919;
	display: flex;
	flex-direction:column;
	justify-content: center; 
	align-items: center;
}
.first_p {
	font-size: 30px;
	margin-bottom: 20px;
	font-weight: bolder;
}
.second_p {
	font-size: 17px;
	width: 500px;
	text-align:center;
}
.social a {
	display: flex;
	width: 45px;
	height: 45px;
	color: crimson;
	font-size: 45px;
	align-content: center;
	margin: 22px 10px;
	justify-content: center;
	align-items: center;
	padding: 10px;
	color: white;
	border-radius: 50px;
	text-decoration: none;
}
.social {
	display:flex;
}
.social a::hover {
	transform: scale(1.3);
	transition: .3s;
}
.end {
	position: absolute;
	color: crimson;
	font-size: 16px;

}